html {
    background-color: #1a1a1a;
    overflow: hidden;
    height: 100vh;
    padding: 10px;
  }
  hr {
    border: none;
    height: 2px;
    border-radius: 10px;
    background-color: #2196f3;
  }